<div class="row">
  <div id="carouselExampleControls" class="carousel slide col-md-12 home" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="cards-wrapper">
        <div class="row">
          <div class="carousel-item active">
            <div class="card bg-transparent text-white shadow-lg d-block w-100">
              <h5 class="card-header">Matthew Jeshua Martin </h5>
              <div class="card-body">
                <h5 class="card-title">Web Developer</h5>
                <p class="card-text">Bringing you powerful applications with a simple UI. Example of one is this website here, with the backend constructed with stored procedures and table-vaule functions in the Database. Bycrypt and JSON Web Token Authencation for communitcating with the API to the Angular App.</p>
              </div>
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <div class="card bg-transparent text-white shadow-lg d-block w-100">
            <h5 class="card-header">More explaining </h5>
            <div class="card-body">
              <p class="card-text">As was stated before I have constructed Stored Procedure for every POST action to the database. Even have an Edit function which will check for nulls and puts accordingly. The next layer which is the API and the Data Access Layer written for it. Each Model is Scaffold from the SQLscript written by me for the construction of the API.</p>
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <div class="card bg-transparent text-white ">
            <h5 class="card-header">Skills</h5>
            <div class="card-body">
              <h5 class="card-title">Special title treatment</h5>
              <p class="card-text">Angular, Microsoft SQL Server, CSharp, ASP.NET, Entity Framework Core, React, Redux ands Express.js</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</div>
