<mdb-carousel [controls]="true">
  <mdb-carousel-item [interval]="10000">
    <div class="card shadow-lg d-block w-100">
      <h5 class="card-header">Matthew Jeshua Martin </h5>
      <div class="card-body">
        <h5 class="card-title">Web Developer</h5>
        <p class="card-text">Bringing you powerful applications with a simple UI. Example of one is this website here, with the backend constructed with stored procedures and table-vaule functions in the Database. Bycrypt and JSON Web Token Authencation for communitcating with the API to the Angular App.</p>
      </div>
    </div>
  </mdb-carousel-item>
  <mdb-carousel-item [interval]="10000">
    <div class="card shadow-lg d-block w-100">
      <h5 class="card-header">More explaining </h5>
      <div class="card-body">
        <p class="card-text">As was stated before I have constructed Stored Procedure for every POST action to the database. Even have an Edit function which will check for nulls and puts accordingly. The next layer which is the API and the Data Access Layer written for it. Each Model is Scaffold from the SQLscript written by me for the construction of the API.</p>
      </div>
    </div>
  </mdb-carousel-item>
  <mdb-carousel-item [interval]="10000">
    <div class="card ">
      <h5 class="card-header">Skills</h5>
      <div class="card-body">
        <p class="card-text">Angular, Microsoft SQL Server, CSharp, ASP.NET, Entity Framework Core, React, Redux ands Express.js</p>
      </div>
    </div>
  </mdb-carousel-item>
</mdb-carousel>
